
.mainContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.show{
  display: block;
}
.hide{
  display: none;
}
.btn{
  background-color: #4caf50;
  border: none;
  color: aliceblue;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
}
.btn:hover{
  background-color: #af4c4f;
}

